
.loginWrap{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 999999999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-direction: column;
    // box-shadow:  #e1dfdf 0px 0px 10px;
    .loginPanle{
        width: 80%;
        height: 300px;
        border-radius: 6px;
        background: #fff;
        padding: 16px;
        box-sizing: border-box;
    }
    .title{
        text-align: center;
        padding: 16px 0;
        font-size: 20px;
    }
    .row{
        display: flex;
        height: 40px;
        align-items: center;
        box-sizing: border-box;
        border-bottom: 1px solid #dbdada;
        padding-bottom: 8px;
        margin-bottom: 16px;
        .label{
            height: inherit;
            display: inline-flex;
            align-items: center;
        }
        .input {
            height: inherit;
            margin-left: 16px;
            outline: none;
            border: none;
        }
    }
    .confirmBtn{
        width: 80px;
        height: 40px;
        font-size: 18px;
        border-radius: 20px;
        color: #ffffff;
        background: linear-gradient(90deg,#FF7F66,#FF5860,#FF3B44);
        text-align: center;
        outline: none;
        line-height: 40px;
        margin: 0 auto;
        margin-top: 20px;
    }

}

.logoutBtn{
    width: 120px;
    height: 40px;
    font-size: 18px;
    border-radius: 20px;
    color: #ffffff;
    background: linear-gradient(90deg,#FF7F66,#FF5860,#FF3B44);
    text-align: center;
    outline: none;
    line-height: 40px;
    margin: 100px auto;
}