.theme-component{
    display: inline-flex;
    position: absolute;
    right: 32px;
    top: 0;
    z-index: 9;
    color: #fff;
    &.light{
        .ant-dropdown-trigger{
            color: #666;
        }
    }
}